<ion-content [fullscreen]="true">



  <div class="flex h-full">
    <div class="m-auto">
      <div class="text-center">
        <p class="py-4 text-2xl font-semibold">{{cookieClicked}}</p>
      </div>
      <div class="flex items-center justify-center">
        <img class="w-24" [ngClass]="clickAnimate" src="/assets/svg/011-cookie.svg" (click)="click()">
      </div>
      <div class="text-center">
        <p class="py-4 text-2xl">{{usersOnline.length}} {{(usersOnline.length > 1) ? 'Users' : 'User'}} Mining</p>
      </div>
      <div class="flex py-4">
        <ng-container  *ngFor="let user of usersOnline">
          <img class="w-8" src="/assets/svg/pickaxe.svg">
        </ng-container>
      </div>
    </div>
    
  </div>

</ion-content>
